{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class = 'flash'>
    {% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
  <li> <strong> {{ message }} </strong> </li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}

</div>
<div class="row">
    <div class="col-1">

    </div>
    <div class="col-3 text-left">
        <h2>Catagories</h2>
        {% for catagory in catagories %}
            <a href = "{{url_for('showItem', catagory = catagory.name)}}">
                <div class="row">
                    
                    <div class="col text-left">
                        <h3>{{catagory.name}}</h3>
                    </div>
                    
                </div>
            </a>
        {% endfor %}
    </div>
    <div class="col-6 text-left">
            <h2>Latest Items</h2>
            {% for item in items %}
                <a href = "#">
                    <div class="row">
                        
                        <div class="col text-left">
                            <h3>{{item[0].name}}<i>({{item[1].name}})</i></h3>
                        </div>
                        
                    </div>
                </a>
            {% endfor %}
    </div>
    
</div>
{% endblock %}
