{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row">
    <div class="col">
        <h2>{{item.name}}</h2>
    </div>
    
</div>
<div class="row">
    
    <div class="col-12">
        <p class="description">{{item.description}}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <a href="{{url_for('editItem', item = item.name)}}" class="edit">Edit</a>|<a href="{{url_for('deleteItem', item = item.name)}}" class="edit">Delete</a>
    </div>
</div>
{% endblock %}